---
import Checkmark from "@icons/checkmark.svg";
const { text1, text2 } = Astro.props;
---

<ul>
  <li>
    <Checkmark width={30} height={30} />
    <p>{text1}</p>
  </li>
  <li>
    <Checkmark width={30} height={30} />
    <p>{text2}</p>
  </li>
</ul>

<style>
  @layer components {
    ul {
      display: grid;
      gap: var(--space-2xs);
    }

    li {
      display: flex;
      align-items: flex-start;
      gap: 1rem;

      > svg {
        color: #4eaf4e;
      }
    }
  }
</style>
