---
const { subtitle, title, text } = Astro.props;
---

<h5>{subtitle}</h5>
<h2>{title}</h2>
<p>{text}</p>

<style>
  h5 {
    line-height: 147.5%; /* 23.6px */
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-secondary);
    letter-spacing: 2.32px;
    text-transform: uppercase;
    font-family: var(--font-text);
  }
</style>
