---
import Logo from "@components/ui/Logo.astro";
---

<footer data-theme="dark">
  <div class="footer-wrapper">
    <Logo />
    <hr />
    <p>&#169; 2025 Consultalk. All rights reserved | Terms of Service | Privacy Policy</p>
  </div>
</footer>
<style>
  @layer component {
    footer {
      display: flex;
      flex-direction: column;
      padding: 46px 0;
      justify-content: center;
      align-items: center;
      gap: 10px;

      hr {
        width: clamp(300px, 90vw, 1200px); /* clamp(minimum, foretrukket, maksimum) - vælger den bedste værdi (responsiv)*/
        height: 1px;
        border: none; /* Fjerner browser standard border */

        background: var(--color-tertiary);
      }

      .footer-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 36px;
      }
    }
  }
</style>
