---
import Logo from "@components/ui/Logo.astro";
import LoginButton from "@components/ui/LoginButton.astro";
---

<header>
  <nav>
    <Logo />
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/case">Case Study</a></li>
      <li><a href="/team">Team</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <LoginButton />
  </nav>
  <button class="burger-menu" aria-label="Toggle menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
</header>

<style>
  @layer component {
    header {
      display: grid;
      grid-template-columns: subgrid; /* Arver body's 5 kolonner, så vi kan placere indholdet korrekt */
      padding: 38px;
      align-items: start; /* Placerer nav i toppen i stedet for at strække den */
      background-color: #1b1b1be8;

      nav {
        display: flex; /* Placerer navigationselementer i en række */
        grid-column: content-start/content-end; /* Begrænser nav til content-området */
        justify-content: space-between; /* Logo til venstre, menu midt, knap til højre */
        align-items: center; /* Centerer elementerne vertikalt */

        > * {
          flex-shrink: 0; /* Forhindrer elementer i at skrumpe */
        }
      }

      ul {
        display: flex; /* Placere menupunkterne i en række */
        justify-content: center; /* Centrerer menupunkterne horisontalt */
        align-items: center; /* Centerer menupunkterne vertikalt */
        gap: 30px;
        list-style: none; /* Fjerner bullet points */

        li > a {
          color: var(--color-primary);
          font-family: var(--font-text);
          font-size: 1rem;
          text-decoration: none; /* Fjerner understreg på links */
        }
      }
    }
  }
</style>
