---

---

<button>Login</button>

<style>
  @layer component {
    button {
      display: flex; /* Flex - Så jeg kan centrere teksten */

      padding: 4px 16px;
      justify-content: center; /* Center teksten horisontalt */
      align-items: center; /* Center teksten vertikalt */

      border-radius: 20px;
      background: var(--color-accent);
      color: var(--color-secondary);
      font-family: var(--font-text);
      font-size: var(--font-text);
    }
  }
</style>
